i{
    padding: 0 8px;/*此处控制小icon*/
}
.header-navigation {
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #000000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: .8;
    z-index: 9999;
}
.header-navigation ul li{
    float: left;
    display: inline-block;
    height: 50px;
}
.header-navigation ul li a{
    display: inline-block;
    width: 100px;
    height: 50px;
    color: #fff;
    text-align: center;
}
.slideUp {
    /* -webkit-transform: translateY(-100px);
     transform: translateY(-100px);*/
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

.slideDown {
    /*-webkit-transform: translateY(0);
    transform: translateY(0);*/
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    /*transition: transform .5s ease-out;*/
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}
#top .index a{
    width: 150px;
}
.header-navigation .hvr-sweep-to-left,
.header-navigation .hvr-sweep-to-right{
    vertical-align: 100%;
}
