*{cursor: default;}
a{text-decoration: none;}
body{
    font-family: fz;
    font-size: 12px;
    overflow:hidden;
}
.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:  url("../../images/index/bg.jpg") repeat fixed;
    -webkit-background-size:120%;
    background-size:100%;
    opacity: .5;
}
.content{
    position: relative;
    width: 80%;
    margin: 110px auto;
    text-align: center;
    z-index: 10086;
}
.con{
    width: 100%;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
}
    .con .w{
        position: relative;
        width: 40%;
        height: 110px;
        margin: 0 auto;
    }
    .con .w .img-{
        margin: 5px auto;
        width: 100px;
        height: 100px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        box-shadow: 1px 1px 20px #cdcdcd;
        animation: img 3s infinite;
        cursor: pointer;
        background: #eeeeee url("../../images/head.png");
        -webkit-background-size:105%;
        background-size:105%;
    }
        @keyframes img {
            10%{box-shadow: 1px 1px 5px #c8fff8;}
            20%{box-shadow: 1px 1px 20px #c8fff8;}
            30%{box-shadow: 1px 1px 30px #c8fff8;}
            50%{box-shadow: 1px 1px 10px #c8fff8;}
            70%{box-shadow: 1px 1px 30px #c8fff8;}
            100%{box-shadow: 1px 1px 20px #c8fff8;}
        }
        .con .w .img-:hover{
            transform: rotate(360deg);
            transition: all 1s ease-out 50ms;
        }
        .con-text p{
            font-size:8px;
            color: #fff;
            letter-spacing: 3px;
        }
        .con-text p span{
            font-size: 17px;
            display: block;
            line-height: 38px;
            letter-spacing: 5px;
        }
        .con-text .line{
            margin: 8px auto 15px;
            width: 32%;
            border: none;
            border-top: 1px solid #fff;
            opacity: .2;
        }
        .con-text a{
            display: inline-block;
            font-size: 13px;
            padding: 0 5px;
            height: 35px;
            line-height: 35px;
            border-radius: 3px;
            color: #fff;
        }
        .con-text a:Hover{
            color: #ff517f;
            cursor: pointer;
            text-decoration: underline;
            transition: color 500ms ease-out 50ms;
        }
        .l-r{
            position: fixed;
            width: 80px;
            height: 80px;
            bottom: -35px;
            cursor: pointer;
            z-index: 999;
            -webkit-animation: l 1s ease-out 1;
            -o-animation: l 1s ease-out 1;
            animation:l 1s ease-out  1;
        }
        @keyframes l {
            20%,80%{bottom: -100px;opacity: .1;}
            100%{opacity: 1;}
        }
        .left{
            left: -5px;
        }
        .right{
            right: -5px;
        }
        .left:hover,
        .right:hover{
            bottom: -22px;
            transform: scale(1.2,1.2);
            transition: all 200ms ease-out 50ms;
        }
        .right:hover{
            bottom: -15px;
        }