<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>@陈宏洲</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="cononico">
    <meta name="application-name" content="Cononico" >
    <link rel="stylesheet" type="text/css" href="../css/about/main.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"><!--字体icon-->
    <link rel="icon" href="../favicon.ico"><!--icon-->
    <script type="text/javascript">
        //设定rem值
        document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
    <!---不支持IE8 Hack-->
    <!--[if lt IE 8]>
     <h5 class="text-center">你的浏览器弱渣了，为了更好的浏览体验，赶快<a href="http://browsehappy.com/" style="color:#53bafb">升级浏览器</a>吧！！</h5>
        <![endif]-->
</head>
<body oncontextmenu="window.event.returnValue=false" onkeypress="window.event.returnValue=false" onkeydown="window.event.returnValue=false" onkeyup="window.event.returnValue=false" ondragstart="window.event.returnValue=false" onselectstart="event.returnValue=false">
	<header class="head clearfix">
        <div class="head_logo_div">
            <a href="../index.html" class="hvr-bounce-to-bottom">Home</a>
        </div>
        <div class="head_nav_div">
             <nav class="head_nav">
                <ul id="nav_ul">
                    <li class="nav_li_on">
                        Me
                    </li>
                    <li class="nav_ul_li">
                        About
                    </li>
                    <li class="nav_ul_li">
                        Come me
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--头导航-->
    <ul class="float_btn" id="float_btn">
        <li class="btn_on"></li>
        <li></li>
        <li></li>
    </ul>
    <!--切换小圆点-->
    <div class="wrapBox" id="wrapBox">
        <div class="box">
            <img class="box_bg" src="http://pic.jj20.com/up/allimg/111/0419110A306/11041ZA306-19.jpg">
            <div class="box01_content">
                <div class="head_div" >
                    <div class="cycle_item">
                        <a href="https://atrance.github.io" class="github_a" id="github_a" target="_blank" style="display: none;"></a>
                        <a href="http://http://weibo.com/aiyucheng123" class="weibo_a" id="weibo_a" target="_blank" style="display: none;"></a>
                        <a href="http://blog.zb-sec.com" class="blog_a" id="blog_a" target="_blank" style="display: none;"></a>
                        <div class="head_img_div" title="看毛线啊">
                            <img class="head_img" src="../images/head.png">
                        </div>
                    </div>
                </div>
                <div class="head_div_title">
                    <h1 class="title">Hello Firends</h1>
                    <h2 class="title_h2">I'm A T M O Z F E A S</h2>
                    <div id="box01_text">
                        <p class="box01_p">一个死宅男</p>
                        <p class="box01_p">喜欢笑/代码/萌妹子</p>
                        <p class="box01_p">学习前段中.....</p>
                    </div>

                </div>
            </div>
        </div>
        <!--介绍-->
        <div class="box">
            <img class="box_bg" src="http://pic.jj20.com/up/allimg/111/041911064928/11041Z64928-3.jpg">
            <div class="box02_content box_content clearfix">
                <div id='bar_container' class="bar_container">
                    <div class='bar mint' data-percent='10'></div>
                    <div class='bar lila' data-percent='5'></div>
                </div>
                <div id="box02_text">
                    <h1>学习过程</h1>
                    <div class="overline"></div>
                    <p>2010,接触计算机</p>
                    <p>2015,迷上了网络游戏，成绩变得很差</p>
                    <p>2017，来到泸溪第一职业中学</p>
                    <p>2017,上半学期摸爬打滚自学ing</p>
                    <p>2017,能够做出静态页面</p>
                    <p>开始学习JS</p>
                    <p>喜欢那种自己做完就有的成就，这是我坚持下去的决心!</p>
                    <p>未来是我自己的！</p>
                </div>
            </div>
        </div>
        <!--学习过程-->
        <div id="foot" class="foot">
            <div class="bg"></div>
            <div class="foot_info_main">
                <p>你可以通过以下方式找到我并联系我:</p>
                <a href="http://github.com/atrance" target="_blank" title="Github">
                        <i class="fa fa-github"></i>
                    </a>
                <a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=2915537708&website=www.oicqzone.com" target="_blank" title="QQ">
                        <i class="fa fa-qq"></i>
                    </a>
                <a href="" title="微信">
                        <i class="fa fa-weixin"></i>
                    </a>
            </div>
            <div class="foot_power">
                <h3>Copyright ©2017 [陈宏洲] Powered By [关于我] Version 1.1.1</h3>
            </div>
        </div>
        <!--联系我-->
    </div>

</body>
    <!--jq-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <!--主要-->
    <script type="text/javascript" src="../js/about-main.js"></script>
</html>