<!--
                                 _.._        ,------------.
                               ,'      `.    ( 欢迎偷码! )
                              /  __) __` \    `-,----------'
                             (  (`-`(-')  ) _.-'
                             /)  \  = /  (
                            /'    |--' .  \
                           (  ,---|  `-.)__`
                            )(  `-.,--'   _`-.
                           '/,'          (  Uu",
                            (_       ,    `/,-' )
                            `.__,  : `-'/  /`--'
                              |     `--'  |
                              `   `-._   /
                               \        (
                               /\ .      \.
                              / |` \     ,-\
                             /  \| .)   /   \
                            ( ,'|\    ,'     :
                            | \,`.`--"/      }
                            `,'    \  |,'    /
                           / "-._   `-/      |
                           "-.   "-.,'|     ;
                          /        _/["---'""]
                         :        /  |"-     '
                         '           |      /
                                     `      |


            ---------------------------------------------------------------
            -           听说你想偷我的源码？？？？？                           -
            -                请尊重原作者@陈宏洲                             -
            -                  如需要源代码请@2915537708@qq.com             -
            -                       ver.1.9                               -
            -                           -本次，修改更倾向于交互               -
            -                           -Time: 2017-6-9                   -
            -                           -by @陈宏洲                        -
            -                           -准备买域名中                       -
            ---------------------------------------------------------------
                                                                                                    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@陈宏洲</title>
    <link rel="stylesheet" href="../css/nav/style.css"><!--基础样式表-->
    <link rel="stylesheet" href="../css/base.css"><!--风格表-->
    <link rel="stylesheet" href="../css/top.css">
    <link href="https://cdn.bootcss.com/hover.css/2.1.1/css/hover-min.css" rel="stylesheet"><!--hover效果-->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"><!--字体icon-->
    <link rel="icon" href="../favicon.ico">
</head>
<body oncontextmenu="window.event.returnValue=false" onkeypress="window.event.returnValue=false" onkeydown="window.event.returnValue=false" onkeyup="window.event.returnValue=false" ondragstart="window.event.returnValue=false" onselectstart="event.returnValue=false">
    <header id="header" class="header-navigation">
        <div class="nav">
            <ul>
                <li class="index"><a href="../index.html" class="hvr-sweep-to-right" target="_blank"><i class="fa fa-home"></i>首页</a></li>
                <li><a href="nav.html" target="_blank" class="hvr-sweep-to-left"><i class="fa fa-navicon"></i>导航</a></li>
                <li><a href="about.html" class="hvr-sweep-to-left" target="_blank"><i class="fa fa-drivers-license-o"></i>关于我</a></li>
                <li><a href="http://tool.lu" class="hvr-sweep-to-left" target="_blank"><i class="fa fa-bolt"></i>在线工具</a></li>
                <li><a href="music.html" target="_blank" class="hvr-sweep-to-left"><i class="fa fa-music"></i>音乐</a></li>
                <li><a href="works.html" class="hvr-sweep-to-left" target="_blank"><i class="fa fa-child"></i>我的作品</a></li>
                <li><a href="history.html" class="hvr-sweep-to-left" target="_blank"><i class="fa fa-history"></i>历史版本</a></li>
                <li><a href="http://github.com/atrance" class="hvr-sweep-to-left" target="_blank"><i class="fa fa-github"></i>Github</a></li>
                <li><a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=2915537708&fuin=2915537708&website=www.oicqzone.com" class="hvr-sweep-to-left"><i class="fa fa-qq"></i>Q我</a></li>
            </ul>
        </div>
    </header>
    <div id="center">
            <div id="search" class="w">
                <form onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu" target="_blank">
                    <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
                    <a href="https://www.baidu.com/" target="_blank">
                        <img src="../images/nav/baidu.png" alt="Baidu" align="bottom" border="0">
                    </a>
                    <input type="text"  onfocus="checkHttps" name="word"  size="30">
                    <input type="submit" value="百度搜索">
                    <a href="dashangwo.html" target="_blank" class="dashangwo">如果我的网站对你有很大帮助的话，你可以戳这里来打赏我，你的打赏是我最大的支持！</a>
                </form>
            </div>
            <div id="f1" class="w">
            <div class="f1-list">
                <a href="http://bilibili.tv" target="_blank" title="B站">
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2810627290,1080409091&fm=58&s=8197C732C535FA313E526557030030BB&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://xiaodao.la" target="_blank" title="日常找资源" class="">
                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3504973553,1154572569&fm=58&s=CE867E238CB1CC9042E82DCB0100E0B1&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://taobao.com" target="_blank" title="我就是淘宝之王">
                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2569414283,3878801303&fm=58" alt="">
                </a>
                <a href="http://52pojie.cn" target="_blank" title="日常找资源">
                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=433379261,1983014663&fm=58&s=03D1CB20DBC3B882669AD510030050DB&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://2017.zcool.com.cn" target="_blank" title="设计师福利">
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1428055060,4176019515&fm=58&s=69C5AF468EA44C01130F527E0300D078&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://zhihu.com" target="_blank" title="程序员福利">
                    <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2657539485,3858778876&fm=58&s=79428856C4B42831443E1ED10300D099" alt="">
                </a>
                <a href="http://58pic.com" target="_blank" title="设计">
                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=4252121684,1819267716&fm=58&s=01DAA87ACCA0EE035FF15A46020030F5&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://huaban.com" target="_blank" title="设计">
                    <img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1253763438,4067203203&fm=58&s=56F0A5767BC0BF0DF5B5DDA403002021&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://imooc.com" target="_blank" title="学习">
                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=278743832,3927440098&fm=58&s=06E6DD16CCB109825DF431C601007031&bpow=121&bpoh=75" alt="">
                </a>
                <a href="http://slither.io" target="_blank" title="学习">
                    <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2550330025,3023168738&fm=58&s=0D813C7A6CAA7F202CAA5B56030010F5&bpow=121&bpoh=75" alt="">
                </a>
            </div>
        </div>
            <div id="f2" class="w">
                <strong class="fl"><i class="fa fa-codepen"></i>代码</strong>
                <i class="fa fa-play fl"></i>
                <ul>
                    <li><a href="http://imooc.com" target="_blank" class="hvr-underline-from-center">慕课网</a></li>
                    <li><a href="http://jikexueyuan.com" target="_blank" class="hvr-underline-from-center">极客学院</a></li>
                    <li><a href="http://shiyanlou.com" target="_blank" class="hvr-underline-from-center">实验楼</a></li>
                    <li><a href="http://maizixueyuan.com" target="_blank" class="hvr-underline-from-center">麦子学院</a></li>
                    <li><a href="https://ninghao.net/" target="_blank" class="hvr-underline-from-center">宁浩网</a></li>
                    <li><a href="http://edu.csdn.net/" target="_blank" class="hvr-underline-from-center">CSDN学院</a></li>
                    <li><a href="http://www.haoduoshipin.com/" target="_blank" class="hvr-underline-from-center">好多视频</a></li>
                    <li><a href="http://www.howzhi.com/course/13034/" target="_blank" class="hvr-underline-from-center">好知网</a></li>
                    <li><a href="http://www.51cto.com/" target="_blank" class="hvr-underline-from-center">51CTO</a></li>
                    <br>
                    <li><a href="http://github.com" target="_blank" class="hvr-underline-from-center">Github</a></li>
                    <li><a href="https://codepen.io/" target="_blank" class="hvr-underline-from-center">Codepen</a></li>
                    <li><a href="https://atom.io/" target="_blank" class="hvr-underline-from-center">Atom</a></li>
                    <br>
                    <li><a href="http://www.h5-share.com/idea.html" target="_blank" class="hvr-underline-from-center">H5小站</a></li>
                    <li><a href="http://code.lansedongli.com/" target="_blank" class="hvr-underline-from-center">模板源码</a></li>
                    <li><a href="https://lingdianit-com.github.io/Front-End-Standards/" target="_blank" class="hvr-underline-from-center">书写规范</a></li>
                    <li><a href="https://lingdianit-com.github.io/Front-End-Standards/" target="_blank" class="hvr-underline-from-center">Css属性写法</a></li>
                    <li><a href="https://lingdianit-com.github.io/Front-End-Standards/" target="_blank" class="hvr-underline-from-center">兼容在线测试</a></li>
                    <li><a href="http://www.css3maker.com" target="_blank" class="hvr-underline-from-center">CSS生成</a></li>
                    <li><a href="http://www.colorzilla.com/gradient-editor/" target="_blank" class="hvr-underline-from-center">渐变生成</a></li>
                    <li><a href="http://www.css88.com" target="_blank" class="hvr-underline-from-center">前段开发</a></li>
                    <li><a href="http://www.layui.com/doc/element/color.html" target="_blank" class="hvr-underline-from-center">配色</a></li>
                    <br>
                    <li><a href="http://necolas.github.io/normalize.css/" target="_blank" class="hvr-underline-from-center">Normalize.css</a></li>
                    <li><a href="https://daneden.github.io/animate.css/" target="_blank" class="hvr-underline-from-center">Animate.css</a></li>
                    <li><a href="https://cdn.bootcss.com/hover.css/2.1.1/css/hover-min.css" target="_blank" class="hvr-underline-from-center">Hover.css</a></li>
                    <br>
                    <li><a href="https://cdn.baomitu.com/" target="_blank" class="hvr-underline-from-center">360CDN</a></li>
                    <li><a href="https://www.staticfile.org/" target="_blank" class="hvr-underline-from-center">七牛云</a></li>
                    <li><a href="http://www.bootcdn.cn/" target="_blank" class="hvr-underline-from-center">又拍云</a></li>
                    <br>
                    <li><a href="http://www.jq22.com/" target="_blank" class="hvr-underline-from-center">JQ插件</a></li>
                    <li><a href="https://www.awesomes.cn/" target="_blank" class="hvr-underline-from-center">Awesome</a></li>
                    <li><a href="http://www.htmleaf.com/" target="_blank" class="hvr-underline-from-center">JQ之家</a></li>
                    <li><a href="http://fontawesome.io/icons/" target="_blank" class="hvr-underline-from-center">Fontawesome</a></li>
                    <br>
                    <li><a href="https://www.zhihu.com/question/34388831" target="_blank" class="hvr-underline-from-center">前段怎么走</a></li>
                </ul>
            </div>
            <div id="f3" class="w">
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-video-camera"></i>视频</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://iqiyi.com" target="_blank" class="hvr-underline-from-center">爱奇艺</a></li>
                        <li><a href="http://youku.com" target="_blank" class="hvr-underline-from-center">优酷</a></li>
                        <li><a href="http://tudou.com" target="_blank" class="hvr-underline-from-center">土豆</a></li>
                        <li><a href="http://huya.com" target="_blank" class="hvr-underline-from-center">虎牙直播</a></li>
                        <li><a href="http://live.bilibili.com" target="_blank" class="hvr-underline-from-center">B站直播</a></li>
                        <li><a href="http://huajiao.com" target="_blank" class="hvr-underline-from-center">花椒直播</a></li>
                        <li><a href="http://acfun.cn" target="_blank" class="hvr-underline-from-center">AcFun</a></li>
                        <li><a href="https://v.qq.com" target="_blank" class="hvr-underline-from-center">腾讯</a></li>
                        <li><a href="http://www.b8yy.com" target="_blank" class="hvr-underline-from-center">YY6909</a></li>
                    </ul>
                </div>
                <!--视频-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-gamepad"></i>游戏</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://slither.io" target="_blank" class="hvr-underline-from-center">Sliter</a></li>
                        <li><a href="http://www.html5tricks.com/demo/html5-fruit-ninja/index.html" target="_blank" class="hvr-underline-from-center">切水果</a></li>
                        <li><a href="http://www.html5tricks.com/demo/html5-pcman/index.html" target="_blank" class="hvr-underline-from-center">吃豆人</a></li>
                        <li><a href="http://www.html5tricks.com/demo/html5-mario/index.html" target="_blank" class="hvr-underline-from-center">超级玛丽</a></li>
                    </ul>
                </div>
                <!--游戏-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-book"></i>小说</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://qidian.com" target="_blank" class="hvr-underline-from-center">起点读书</a></li>
                        <li><a href="https://www.readnovel.com" target="_blank" class="hvr-underline-from-center">小说阅读网</a></li>
                        <li><a href="#" target="_blank"></a></li>
                        <li><a href="#" target="_blank"></a></li>
                        <li><a href="#" target="_blank"></a></li>
                        <li><a href="#" target="_blank"></a></li>
                    </ul>
                </div>
                <!--小说-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-file-picture-o"></i>素材</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="#" target="_blank" class="hvr-underline-from-center">90设计</a></li>
                        <li><a href="http://findicons.com/" target="_blank" class="hvr-underline-from-center">Findicon</a></li>
                        <li><a href="http://www.17ziti.com/" target="_blank" class="hvr-underline-from-center">字体</a></li>
                        <li><a href="http://www.abstractfonts.com/" target="_blank" class="hvr-underline-from-center" >Font</a></li>
                        <li><a href="http://www.ui.cn/" target="_blank" class="hvr-underline-from-center">UI</a></li>
                        <li><a href="http://www.lanrentuku.com/" target="_blank" class="hvr-underline-from-center">懒人图库</a></li>
                        <li><a href="http://www.chinaz.com/" target="_blank" class="hvr-underline-from-center">站长之家</a></li>
                    </ul>
                </div>
                <!--素材-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-rocket"></i>动漫</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://www.manhuatai.com/" target="_blank" class="hvr-underline-from-center">漫画台</a></li>
                        <li><a href="https://www.pixiv.net/" target="_blank" class="hvr-underline-from-center">P</a></li>
                        <li><a href="http://www.buka.cn/" target="_blank" class="hvr-underline-from-center">布卡动漫</a></li>
                        <li><a href="http://www.dmzj.com/" target="_blank" class="hvr-underline-from-center">动漫之家</a></li>
                        <li><a href="http://anipo.jp/" target="_blank" class="hvr-underline-from-center">An</a></li>
                    </ul>
                </div>
                <!--漫画-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-music"></i>音乐</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://music.163.com" target="_blank" class="hvr-underline-from-center" title="网易云音乐，听见好时光，我ID：Trance狗">网易云</a></li>
                        <li><a href="http://musicforprogramming.net" target="_blank" class="hvr-underline-from-center">M Pmming</a></li>
                        <li><a href="#" target="_blank" class="hvr-underline-from-center"></a></li>
                    </ul>
                </div>
                <!--音乐-->
            </div>
            <div id="f4" class="w">
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-github-alt"></i>论坛</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://52pojie.cn" target="_blank" class="hvr-underline-from-center">52破解</a></li>
                        <li><a href="http://www.itcast.cn" target="_blank" class="hvr-underline-from-center">传智</a></li>
                    </ul>
                </div>
                <!--论坛-->
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-shopping-cart"></i>购物</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://taobao.com" target="_blank" class="hvr-underline-from-center">淘宝</a></li>
                        <li><a href="http://tmall.com" target="_blank" class="hvr-underline-from-center">天猫</a></li>
                        <li><a href="http://jd.com" target="_blank" class="hvr-underline-from-center">京东</a></li>
                    </ul>
                </div>
                <!--购物-->
            </div>
            <div id="f5" class="w">
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-sitemap"></i>博客</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://www.ruanyifeng.com/blog/" target="_blank" class="hvr-underline-from-center">阮一峰</a></li>
                        <li><a href="http://www.zhangxinxu.com/" target="_blank" class="hvr-underline-from-center">张鑫旭</a></li>
                        <li><a href="http://www.cnblogs.com/lhb25/" target="_blank" class="hvr-underline-from-center">梦想天空</a></li>
                        <li><a href="https://www.helloweba.com/" target="_blank" class="hvr-underline-from-center">HelloWeba</a></li>
                    </ul>
                </div>
                <div class="f-wrap">
                    <strong class="fl"><i class="fa fa-bug"></i>工具</strong>
                    <i class="fa fa-play fl"></i>
                    <ul>
                        <li><a href="http://atools.org" target="_blank" class="hvr-underline-from-center">Tools</a></li>
                        <li><a href="http://colorhunt.co" target="_blank" class="hvr-underline-from-center">colorhunt</a></li>
                        <li><a href="http://fotor.com.cn" target="_blank" class="hvr-underline-from-center">在线修图</a></li>
                        <li><a href="http://free.3v.do" target="_blank" class="hvr-underline-from-center">免费空间</a></li>
                        <li><a href="http://www.speedtest.cn/" target="_blank" class="hvr-underline-from-center">测速</a></li>
                        <li><a href="http://so.jutuit.com/yy.html" target="_blank" class="hvr-underline-from-center">搜趣</a></li>
                        <li><a href="http://fm.aakuan.cn" target="_blank" class="hvr-underline-from-center">音乐搜索</a></li>
                        <li><a href="https://uzer.me" target="_blank" class="hvr-underline-from-center">云端</a></li>
                        <li><a href="http://www.panc.cc/" target="_blank" class="hvr-underline-from-center">胖次</a></li>
                        <li><a href="http://md5.daimugua.com/" target="_blank" class="hvr-underline-from-center">呆木瓜</a></li>
                        <li><a href="https://c.runoob.com/" target="_blank" class="hvr-underline-from-center">菜鸟工具</a></li>
                        <li><a href="http://vip.ifkdy.com/" target="_blank" class="hvr-underline-from-center">疯狂解析</a></li>
                        <li><a href="http://www.ft12.com/" target="_blank" class="hvr-underline-from-center">短网址生成</a></li>
                        <li><a href="http://www.wal8.com/user.html" target="_blank" class="hvr-underline-from-center">图片外链</a></li>
                        <li><a href="http://jiantuku.com/#/" target="_blank" class="hvr-underline-from-center">图床</a></li>
                        <li><a href="http://pic.ffsky.net/" target="_blank" class="hvr-underline-from-center">萌图床</a></li>
                        <li><a href="http://www.jiathis.com/" target="_blank" class="hvr-underline-from-center">SEO</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <div id="footer">
        <p>Copyright &copy;2017 [陈宏洲] Powered By [导航] Version 2.0.0_2017-6-20_29</p>
    </div>
    <div id="backtop">
        <a href="#" title="返回顶部"><i class="fa fa-rocket"></i></a>
    </div>
<!---------------------------------------------------脚本-------------------------------------------------------------->
<!--------------------------------------------------引入jq库----------------------------------------------------------->
            <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
            <!--top.js-->
            <script type="text/javascript">
                    var new_scroll_position = 0;
                    var last_scroll_position;
                    var header = document.getElementById("header");

                    window.addEventListener('scroll', function(e) {
                        last_scroll_position = window.scrollY;

                        // Scrolling down
                        if (new_scroll_position < last_scroll_position && last_scroll_position > 80) {
                            // header.removeClass('slideDown').addClass('slideUp');
                            header.classList.remove("slideDown");
                            header.classList.add("slideUp");

                            // Scrolling up
                        } else if (new_scroll_position > last_scroll_position) {
                            // header.removeClass('slideUp').addClass('slideDown');
                            header.classList.remove("slideUp");
                            header.classList.add("slideDown");
                        }

                        new_scroll_position = last_scroll_position;
                    });
                </script>
            <!---banner.js-
            <script type="text/javascript">
                //banner
                ;(function(main) {
                    var args = {};
                    window.onload = function() {
                        main(args);
                    };
                })(function(args) {
                    'use strict';
                    var Box = function(x, y, w, h, s) {
                        this.x = x;
                        this.y = y;
                        this.w = w;
                        this.h = h;
                        this.s = s;
                        this.a = Math.random() * Math.PI * 2;
                        this.hue = Math.random() * 360;
                    };
                    Box.prototype = {
                        constructor: Box,
                        update: function() {
                            this.a += Math.random() * 0.5 - 0.25;
                            this.x += Math.cos(this.a) * this.s;
                            this.y += Math.sin(this.a) * this.s;
                            this.hue += 5;
                            if(this.x > WIDTH) this.x = 0;
                            else if(this.x < 0) this.x = WIDTH;
                            if(this.y > HEIGHT) this.y = 0;
                            else if(this.y < 0) this.y = HEIGHT;
                        },
                        render: function(ctx) {
                            ctx.save();
                            ctx.fillStyle = 'hsla(' + this.hue + ', 100%, 50%, 1)';
                            ctx.translate(this.x, this.y);
                            ctx.rotate(this.a);
                            ctx.fillRect(-this.w, -this.h / 2, this.w, this.h);
                            ctx.restore();
                        }
                    };
                    var Circle = function(x, y, tx, ty, r) {
                        this.x = x;
                        this.y = y;
                        this.ox = x;
                        this.oy = y;
                        this.tx = tx;
                        this.ty = ty;
                        this.lx = x;
                        this.ly = y;
                        this.r = r;
                        this.br = r;
                        this.a = Math.random() * Math.PI * 2;
                        this.sx = Math.random() * 0.5;
                        this.sy = Math.random() * 0.5;
                        this.o = Math.random() * 1;
                        this.delay = Math.random() * 200;
                        this.delayCtr = 0;
                        this.hue = Math.random() * 360;
                    };
                    Circle.prototype = {
                        constructor: Circle,
                        update: function() {
                            if(this.delayCtr < this.delay) {
                                this.delayCtr++;
                                return;
                            }
                            this.hue += 1;
                            this.a += 0.1;
                            this.lx = this.x;
                            this.ly = this.y;
                            if(!clickToggle) {
                                this.x += (this.tx - this.x) * this.sx;
                                this.y += (this.ty - this.y) * this.sy;
                            } else {
                                this.x += (this.ox - this.x) * this.sx;
                                this.y += (this.oy - this.y) * this.sy;
                            }
                            this.r = this.br + Math.cos(this.a) * (this.br * 0.5);
                        },
                        render: function(ctx) {
                            ctx.save();
                            ctx.globalAlpha = this.o;
                            ctx.fillStyle = 'hsla(' + this.hue + ', 100%, 50%, 1)';
                            ctx.translate(this.x, this.y);
                            ctx.beginPath();
                            ctx.arc(0, 0, this.r, 0, Math.PI * 2);
                            ctx.fill();
                            ctx.restore();
                            if(clickToggle) {
                                ctx.save();
                                ctx.strokeStyle = 'hsla(' + this.hue + ', 100%, 50%, 1)';
                                ctx.beginPath();
                                ctx.moveTo(this.lx, this.ly);
                                ctx.lineTo(this.x, this.y);
                                ctx.stroke();
                                ctx.restore();
                            }
                        }
                    };
                    var txtCanvas = document.createElement('canvas');
                    var canvas = document.getElementById('c');
                    var txtCtx = txtCanvas.getContext('2d');
                    var c = document.getElementById('c');
                    var ctx = c.getContext('2d');
                    var WIDTH = c.width = window.innerWidth;
                    var HEIGHT = c.height = window.innerHeight;
                    var imgData = null;
                    var idx = null;
                    var skip = 4;
                    var circles = [];
                    var circle = null;
                    var a = null;
                    var clickToggle = false;
                    var boxList = [];
                    var box = null;
                    txtCanvas.width = WIDTH;
                    txtCanvas.height = HEIGHT;
                    txtCtx.font = 'bold 110px Sans-serif';
                    txtCtx.textAlign = 'center';
                    txtCtx.baseline = 'middle';
                    txtCtx.fillText('A T M O Z F E A S', WIDTH / 2, HEIGHT / 3);
                    ctx.font = 'bold 12px Monospace';
                    ctx.textAlign = 'center';
                    ctx.baseline = 'middle';
                    imgData = txtCtx.getImageData(0, 0, WIDTH, HEIGHT).data;
                    for(var y = 0; y < HEIGHT; y += skip) {
                        for(var x = 0; x < WIDTH; x += skip) {
                            idx = (x + y * WIDTH) * 4 - 1;
                            if(imgData[idx] > 0) {
                                a = Math.PI * 2 * Math.random();
                                circle = new Circle(
                                    WIDTH / 2 + Math.cos(a) * WIDTH,
                                    HEIGHT / 2 + Math.sin(a) * WIDTH,
                                    x,
                                    y,
                                    Math.random() * 4
                                );
                                circles.push(circle);
                            }
                        }
                    }
                    for(var b = 0; b < 10; b++) {
                        box = new Box(
                            WIDTH * Math.random(),
                            HEIGHT * Math.random(),
                            5,
                            2,
                            5 + Math.random() * 5
                        );
                        boxList.push(box);
                    }
                    c.addEventListener('click', function(e) {
                        clickToggle = !clickToggle;
                    });
                    requestAnimationFrame(function loop() {
                        requestAnimationFrame(loop);
                        ctx.globalCompositeOperation = 'source-over';
                        ctx.fillStyle = 'rgba(0, 0, 0, .8)';
                        ctx.fillRect(0, 0, WIDTH, HEIGHT);
                        ctx.fillStyle = 'white';


                       // ctx.fillText('@陈宏洲', WIDTH / 2, HEIGHT / 2 + -50);
                        ctx.globalCompositeOperation = 'lighter';
                        for(var i = 0, len = circles.length; i < len; i++) {
                            circle = circles[i];
                            circle.update();
                            circle.render(ctx);
                        }
                        for(var j = 0; j < boxList.length; j++) {
                            box = boxList[j];
                            box.update();
                            box.render(ctx);
                        }
                    });
                });
            </script>
            -->
            <!--点击特效-->
            <script type="text/javascript">
                $("html,body").on("click",function(e){
                    anp(e);
                })
                function anp(e){
                    var n=Math.round(Math.random()*10);
                    var $i=$("<b>").text("+"+n);
                    var x=e.pageX,y=e.pageY;
                    $i.css({top:y-25,left:x,position:"absolute",color:"#fff"});
                    $("body").append($i);
                    $i.animate({top:y-180,opacity:0,"font-size":"1.4em"},1500,function(){
                        $i.remove();
                    });
                    e.stopPropagation();
                }
            </script>
            <!--百度搜索-->
            <script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
            <script>
                function checkHttps () {
                    BaiduHttps.useHttps();
                };
                function baiduWithHttps (formname) {
                    var data = BaiduHttps.useHttps();
                    if (data.s === 0) {
                        return true;
                    }
                    else {
                        formname.action = 'https://www.baidu.com/baidu' + '?ssl_s=1&ssl_c' + data.ssl_code;
                        return true;
                    }
                };
            </script>
            <!--上loading-->
            <script type="text/javascript" src="../js/preload.js"></script>
            <script type="text/javascript">
    //调用
    $.QianLoad.PageLoading({
        sleep: 100
    });
</script>
</body>
</html>



































